@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');
#navbar{
  background-color:rgb(21, 21, 21);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
}
#head{
  display: flex;
  align-items: center;
}

/* logo and img navbar */
#logo{
  width: 140px;
  padding-left: 10px;
  padding-top: 4px;
}

.tg{
  width: 100px;
}
#logo img{
  width: 50px;
  margin: 0px 29px;
  /* padding-top: 10px; */
  border: 3px solid white;
  border-radius: 70%;
}  
    
#head ul{
    display: flex;
    font-family: 'Saira Semi Condensed', sans-serif;
  }
.item{
  list-style: none;
  display: block;
  padding: 29px 29px;
  text-decoration: none;
  color: rgb(228, 239, 248);
  font-size:18px;
  font-family: 'Playfair Display SC', serif;
  
 
  }

.item:hover{
    background-color: rgba(121, 12, 12, 0.763);
   
    text-decoration: underline rgb(255, 255, 255);
  
  }
  .burger{
  position: absolute; 
  cursor: pointer;
  right: 9%;
  top: 15px;
  margin-bottom: -6px;
  display: flex;
  flex-direction: column;
  }
  .line{
    width:7%;
    background-color: white;
    height:5px;
    margin: 6px 8px;
    /* display: flex;
   flex-direction: column; */
   display: none;
    
  } 

  @media only screen and (max-width: 702px){
     #head{
      display: flex;
      flex-direction: column;
     justify-content: center;
    }
     .items{
      flex-direction: column;
      padding-left:25px;
    }

    .line{
      display: block;

    }
    /* .h-nav{
      height: 79px;
    } */
  }

  