
.App {
  text-align: center;
}
/* @import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&family=Smooch+Sans:wght@100;500;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");

@font-face {
  font-family: myFirstFont;
  src: url(./Assets/ValorantFont.ttf);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #87afff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CSS RESET */
* {
  margin: 0px;
  padding: 0px;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("https://wallpaper.dog/large/20457307.jpg");
  background-size: cover;
  position: relative;
  /* height: 100%; */
  width: 100%;
}

/* main home */
#home {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  /* padding: 10px 100px; */
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.window {
  height: 40%;
  width: 94%;
  color: white;
  float: left;
  font-family: myFirstFont;
  /* display: flex;
  flex-direction: column;
  float: left; */
  /* position:fixed; right: 64%; */
}

.heading {
  font-size: 55px;
  height: 30%;
  color: rgb(255, 255, 255);
  padding: 30px 0px;
  font-family: myFirstFont;
  margin-left: 10px;
}
.btn a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgb(148, 1, 1);
}
.btn {
  background-color: transparent;
  margin-left: 10px;
  margin-top: 15px;
}

.bttn2 {
  background-color: rgb(143, 1, 1);
}

.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  color: rgb(5, 4, 4);
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  background: rgb(70, 1, 1);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(255, 255, 255);
  z-index: 1;
  border: 2px solid rgb(70, 1, 1);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
  z-index: -1;
}

.btn-41:active {
  top: 2px;
}

.container1 {
  height: 70%;
  width: 100%;
  background-color:#ece8e1
}

.latestBox1 {
  /* margin-top: 100px;   */
  padding-top: 100px;
  height: 80px;
  width: 100%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}
.latestBox {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ytbox {
  height: 250px;
  width: 450px;
  border: solid 1px rgb(0, 0, 0);
  margin-left: 30px;
  margin-top: 20px;
}
.arrowbox {
  color: black;
  text-align: right;
  margin-right: 50px;
  color: red;
  /* font-family:arial,sans-serif; */
  font-family: "Cinzel", serif;
}
.arrowbox h4 {
  font-size: 50px;
}
.span {
  height: 20%;
  width: 100%;
  font-size: 100px;
  background_color: rgb(0, 0, 255);
}

.container2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt8353cbd513234cc6/6261bc2e1574214ead420a52/Valorant_2022_E4A3_PlayVALORANT_PlayValorantHomepage.jpg");
  background-size: cover;
  position: relative;
  background-position: center; 
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* max-height: 100%; */
  /* width: 100%;   */
}
.container2 div{
  color:rgb(208, 22, 22);
  height: 60%;
  width: 30%;
  padding-top:17%;
  padding-left: 10%;
  font-size: 29px;
  font-family: myFirstFont;
}
.container2 div h2{
  color:rgb(208, 22, 22);
  font-size: 75px;
  font-weight: bold;
}


.container3 {
  height: 470px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top:70px;
  background-color:#ece8e1;
}
  
.container3 div img{
  box-shadow: 10px 10px 8px 0px rgba(163,29,29,0.75);
-webkit-box-shadow: 10px 10px 8px 0px rgba(163,29,29,0.75);
-moz-box-shadow: 10px 10px 8px 0px rgba(163,29,29,0.75);
/* border: 1px solid rgb(8, 8, 8); */
}

.discordBox{
  height:400px;
  width:100%;
  /* width:300px; */
  /* margin-right: 100px; */
  margin-top: 61px;
  margin-left: 150px;
  text-align: center;
  font-size:35px;
  font-family: myFirstFont;
}
.DiscordImg{
  height:400px;
  width: 100%;
 
  /* width:300px; */
  /* src: url(./../Assets/discordScreenImg.png); */
}